<%- include('header')%>
<%- include("nav")%>
<link rel="stylesheet" href='/stylesheets/detail.css'>



<div class="icon">
 <a href="/feed"> <i class="ri-close-line"></i></a>
</div>
      <div class="image_description">
        <div class="image_block">
          <img src="/images/uploads/<%= posts.postImage%>" alt="Image 200x200"> 
        </div>
        <div class="description_block">
          <div class="title">Title: <%= posts.title %></div>
          <div class="content">Description: <%= posts.description %> </div>
         <button ><a href="/images/uploads/<%= posts.postImage%>" download="pin">Download <i class="ri-download-2-line"></i></a></button>

        </div>
      </div>
  </div><%- include('footer')%>

  