<%- include("header.ejs")%>
<%- include("nav")%>
  <link rel="stylesheet" href="/stylesheets/feed.css">


  <div class="main">
    <% posts.forEach(function(e, _id){ %>
      <a href="/details/<%= e._id %>">
      <div class="cards">
        <div class="img-div">
          <img height="200px" src="/images/uploads/<%= e.postImage%>" alt="">
        </div>
      </div>
    </a>
      <% }) %>
      
    </div>



  <%- include("footer.ejs")%>