<%- include("header.ejs")%>
<%- include('nav') %>
  <link rel="stylesheet" href="stylesheets/profile.css">
  <div class="main">

    <form id="uploadform" hidden action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="image">
      <button>upload</button>
    </form>


    <div class="profiledata">
      <div class="img-div">

        <img src="/images/uploads/<%= user?.profileImage %>" alt="">
        <button id="uploadfile">✏️</button>
      </div>
      <div class="text-div">
        <h2><i class="ri-pinterest-fill"></i> <%= admin.username %></h2>
        <a href="/updateprofile/<%= user._id%>">Edit Profile</a>

      </div>
    </div>

   <a href="/show/posts">
    <div class="cards">
      <div class="overlay">
       <h1>@ <%= admin.username %></h1>
       <div class="detials">
        <h2> Posts '<%= user?.posts?.length%>'</h2>
        <a href="/show/posts">See All <i class="ri-arrow-right-up-line"></i></a>
       </div>
      </div>
      <div class="img">
        <img src="/images/uploads/<%= user?.posts[0]?.postImage%> " alt="postImage">
      </div>

    </div>
   </a>


    <script>
      document.querySelector("#uploadfile").addEventListener("click", function () {
        document.querySelector("#uploadform input").click();
      });

      document.querySelector("#uploadform input").addEventListener("change", function () {
        document.querySelector("#uploadform").submit();
      });
    </script>
    <%- include("footer.ejs")%>