<%- include("header.ejs")%>
<%- include("nav")%>
  <link rel="stylesheet" href="/stylesheets/show.css">

  <div id="main">
  

    <h1>Username: <%= admin.username%></h1>
    <h1>Your total post <%= user.posts.length%></h1>

    <div class="main">
      <% user.posts.forEach(function(e, _id){ %>
        <div class="cards">
          <div class="img-div">
            <img height="200px" src="/images/uploads/<%= e.postImage%>" alt="">
          </div>
         <div class="detials">
          <h1>Title : <%=e.title%></h1>
          <h2>Description : <span> <%=e.description%> </span> </h2>
          <a href="/delete/<%=e._id%>">Delete <i class="ri-delete-bin-6-fill"></i></a>
          <a id="del" href="/updatepost/<%= e._id%>">Edit <i class="ri-edit-fill"></i></a>
         </div>


        </div>
        <% }) %>

    </div>



  </div>




  <%- include("footer.ejs")%>