<%- include("header.ejs")%>

<style>
    *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
html,body{
  width: 100%;
  height: 100%;
}

#main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine; 
}
.container{
  width: fit-content;
  padding: 2vw 4vw;
  display: flex;
  border-radius: 1.21vw;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h1{
  text-align: center;
  margin: 2vw 0;
  font-size: 2.2vw;
}

.container input{
  width: 100%;
  height: 5vh;
  /* border: none; */
  border-radius: .4vw;
  padding: 0 1vw;
  font-size: 1.1vw;
}

.container button{
  padding: .3vw .9vw;
  background-color: red;
  color: #fff;
  border: none;
  font-size: 1.2vw;
  border-radius: .5vw;
  margin-left: 5.3vw;
  margin-top: 1vw;
}

form a{
  text-decoration: none;
  color: #fff;
  background-color: blue;
  padding: .3vw 2vw;
  margin-left: 8vw;
  margin-top: 2vw;
  border: none;
  font-size: 1.2vw;
  border-radius: .5vw;
}

.container h2{
  text-align: center;
  margin: 1vw 0;
  font-size: 2vw;
  font-weight: 300;
}
</style>

<div id="main">
    <div class="container">

    <h1>Update Your profile</h1>

    <form id="uploadform" action="/updateprofile/<%= profile._id%>?" method="post">
        <input value="<%= profile.username%>" type="text" name="username" placeholder="Enter user name"> <br> <br>
        <input value="<%= profile.email%>" type="email" name="email" placeholder="Enter your email"> <br> <br>
        <input value="<%= profile.contact%>" type="number" name="contect" placeholder="Enter your contect"> <br> <br>
        <button>update profile</button>
    </form>
</div>
</div>



    <%- include("footer.ejs")%>