<%- include("header.ejs")%>
<%- include("nav.ejs")%>


    <h1>Update Your profile</h1>

    <form id="uploadform" action="/updatepost/<%= data._id %>" method="post" enctype="multipart/form-data">
        <input value="<%= data.image%>" type="file" name="image"> <br>
        <input value="<%= data.title%>" type="text" name="title" placeholder="Enter title"> <br> <br>
        <input value="<%= data.description%>" type="text" name="description" placeholder="Enter your description"> <br>
        <br>
        <button>update post</button>
    </form>
</div>
</div>


    <%- include("footer.ejs")%>